{#
  Add all 7160 specific settings that apply to all devices of this
  type regardless of the purpose

  This template is being included from
  - sw-hec-h*-7160-32CQ.j2
#}
{% include "templates/config_templates/7160-profile-tcam-acl.j2" %}

hardware port-group 1 select Et1/1-4
!
