SPINES     = ["sw-hec{{ hec.hec_nr }}-spine-11","sw-hec{{ hec.hec_nr }}-spine-12","sw-hec{{ hec.hec_nr }}-spine-13","sw-hec{{ hec.hec_nr }}-spine-14"]
IBGP_PEER  = {"a": "{{ hec.fabric.mlag_b_ip }}", "b": "{{ hec.fabric.mlag_a_ip }}"}
IF_SETUP   = { {% for model in hec.fabric.leaf_models %}"{{model.model}}": [{"if": "{{model.uplink_ports}}"}]{%if not loop.last %},{% endif %}{% endfor %} }
LOCATION   = "hec{{ hec.hec_nr }}" 
SPINE_AS   = "641{{ hec.hec_nr }}.10000"
LEAF_AS1   = 641{{ hec.hec_nr }}
LEAF_AS2   = 11000
IBGP_RTMAX = {{ hec.fabric.bgp_maximum_routes }}
EBGP_RTMAX = {{ hec.fabric.bgp_maximum_routes }}
EVPN_RTMAX = {{ hec.fabric.evpn_maximum_routes }}
POD        = 1
MA_VRF     = "{{ hec.oob_vrf }}"
MA_DOMAIN  = "{{ hec.ma_domain }}"
MA_MASK    = {{ hec.oob_mask }}
LO900_DOMAIN = "{{ hec.lo900_domain }}"
MTU = {{ hec.fabric.interlink_mtu }}
LEAF_BASE_TEMPLATE = "sw-hec-leaf-individual"
LEAF_PAIR_TEMPLATE = "sw-hec-leaf-pair"
PROFILE_TCAM_ACL = "7160-profile-tcam-acl"
