username cfmadm privilege 15 role network-admin secret 5 $1$EaZmGCRk$gwoPz3UrfjPwVuK6MQg8l.
!
!# HANA CFM VLANs (1101-1140->HANA, 1141-1180->GPFS)
vlan 1101-1180
!
{% for i in range(1, 18) %}
interface Port-Channel{{ 100 + i }}
   mlag {{ 100 + i }}
   switchport trunk native vlan 40
   switchport trunk allowed vlan 5,40
   switchport mode trunk
   ip access-group HEC{{ hec.hec_nr }}-L2-HANA in
   port-channel lacp fallback static
   spanning-tree portfast
!
{% endfor %}
interface Port-Channel900
   description ->sw-hec{{ hec.hec_nr }}-ipmi-xx
   switchport mode trunk
   mlag 900
!
ip access-list HEC{{ hec.hec_nr }}-L2-HANA
{{ hec.hana_acl_rules }}
