vlan 7
   name DHCP03
!
vlan 900
!
vlan 930
   name VMWARE-FAULT-TOLERANCE
!
vlan 931
   name VMWARE-VMOTION
!
vlan 932
   name VMWARE-VCENTER-HA
!
{% for i in range(1, 24) %}
interface Port-Channel{{ 100 + i }}
   mlag {{ 100 + i }}
   switchport trunk native vlan 7
   switchport trunk allowed vlan 7,20,50,55,60,70,75,90-91,95,100,110,120,130,140,932,2001-2499
   switchport mode trunk
   ip access-group HEC{{ hec.hec_nr }}-L2-APP in
   port-channel lacp fallback individual
   spanning-tree portfast
!
{% endfor %}
{% for i in range(51, 74) %}
interface Port-Channel{{ 100 + i }}
   mlag {{ 100 + i }}
   switchport trunk native vlan 7
   switchport trunk allowed vlan 7,20,85,930-931
   switchport mode trunk
   ip access-group HEC{{ hec.hec_nr }}-L2-APP in
   port-channel lacp fallback individual
   spanning-tree portfast
!
{% endfor %}
{% include "templates/config_templates/hec_sw_po900-uplink.j2" %}

!
ip access-list HEC{{ hec.hec_nr }}-L2-APP
{{ hec.hvv_hvx_acl_rules }}
