spanning-tree mst configuration
  instance 1 vlan  2-4093
!
no {{eos_cmd.c_spanning_tree_vlan}} 4094
!
vlan 4094
   trunk group MLAG-PEER
!
interface Vlan4094
   mtu {{ hec.fabric.interlink_mtu }}
   no autostate
!
interface Port-Channel42
   description MLAG-PEER
   mtu {{hec.fabric.interlink_mtu}}
   switchport mode trunk
   switchport trunk group MLAG-PEER
!
mlag configuration
   local-interface Vlan4094
   peer-link Port-Channel42
!
