{% macro leaf_hvv_ports_data(hec_nr) -%}
   speed forced 25gfull
   switchport trunk native vlan 7
   switchport trunk allowed vlan 5,7,20,50,55,60,70,75,85,90-91,95,100,110,120,130,140,932,2001-2499
   switchport mode trunk
   ip access-group HEC{{ hec_nr }}-L2-APP in
   spanning-tree portfast
{%- endmacro %}
{% macro leaf_hvv_ports_vmotion(hec_nr) -%}
   speed forced 25gfull
   switchport trunk native vlan 7
   switchport trunk allowed vlan 7,20,930-931
   switchport mode trunk
   ip access-group HEC{{ hec_nr }}-L2-APP in
   spanning-tree portfast
{%- endmacro %}
{% macro leaf_hvx_ports_data(hec_nr) -%}
   speed forced 25gfull
   switchport trunk native vlan 5
   switchport mode trunk
   ip access-group HEC{{ hec_nr }}-L2-APP in
   spanning-tree portfast
{%- endmacro %}
