{# below lines get included by sw-hec-spine-xx.j2 and sw-hec-spine.j2 #}

{% for lc in range(lc_start, lc_end ) %}
{% for subintf in range(1,37) %}
{% set ip = loop.index * 2 - 2 %}
{% set offset = lc - 3 %}
{% set ip = ip + 72 * offset %}
{% set nextsubnet = 0 %}
{% if ip > 255 %}
{% set ip = ip - 256 %}
{% set nextsubnet = 1 %}
{% endif %}
{% if ip > 255 %}
{% set ip = ip - 256 %}
{% set nextsubnet = 2 %}
{% endif %}
{% if hec.spine.model|string == '7280' %}
interface Ethernet{{ subintf }}/1
{% set port = "Et" + subintf|string + "/1" %}
{% endif %}
{% if hec.spine.model|string == '7504' or hec.spine.model|string == '7508'  %}
interface Ethernet{{ lc }}/{{ subintf }}/1
{% set port = "Et" + lc|string + "/" + subintf|string + "/1" %}
{% endif %}
{% if create_ip_on_interface == 'yes' %}
 ip address 10.{{ item }}.{{ nextsubnet }}.{{ ip }}/31
{% else %}
 shutdown
 no switchport
 mtu {{ hec.fabric.interlink_mtu }}
{% set ns = namespace(found=false) %}
{% if hec.spine.ports_with_non_default_speed is defined %}
{% for intf in hec.spine.ports_with_non_default_speed %}
{% if port == intf.port %}
 speed forced {{ intf.speed }}
{% set ns.found = true %}
{% endif %}
{% endfor %}
{% endif %}
{% if ns.found == false %}
 speed forced {{ hec.fabric.interlink_speed }}
{% endif %}
{% endif %}
!
{% endfor %}
{% endfor %}
