vlan 900
   name NW-MGMT
vlan 920
   name RT-TRANS
vlan 2001
   name TEST-CUSTOMER
vlan 2002-2499
!
interface Vxlan1
   vxlan vlan 920 vni 10920
!
interface Port-Channel5
   description hec{{ hec.hec_nr }}f0005
   switchport access vlan 110
   mlag 5
!
interface Port-Channel6
   description hec{{ hec.hec_nr }}f0006
   switchport access vlan 110 
   mlag 6
!
interface Ethernet27
   description hec{{ hec.hec_nr }}f000[12],e0M
   switchport access vlan 110
!
interface Ethernet28
   description hec{{ hec.hec_nr }}f000[1r2],BMC
   speed 100full
   switchport access vlan 10
!
interface Ethernet29
   description hec{{ hec.hec_nr }}f000[34],e0M
   switchport access vlan 110
!
interface Ethernet30
   description hec{{ hec.hec_nr }}f000[3r4],BMC
   speed 100full
   switchport access vlan 10
!
interface Ethernet31
   description hec{{ hec.hec_nr }}fc001cs[12]
   switchport access vlan 110
!
interface Ethernet32
   description -> hec{{ hec.hec_nr }}f0005, e0[cd]
   channel-group 5 mode active  
!
interface Ethernet33
   description -> hec{{ hec.hec_nr }}f0006, e0[cd]
   channel-group 6 mode active
!   
interface Ethernet34
   description hec{{ hec.hec_nr }}f000[56],e0M
   switchport access vlan 10
!
interface Ethernet35
   description ->hec{{ hec.hec_nr }}f0006,e0M
!
interface Ethernet36
   description ->hec{{ hec.hec_nr }}b001,mgmt
   switchport access vlan 110
!
!interface Port-Channel401
!   description hec{{ hec.hec_nr }}b0001
!   switchport trunk allowed vlan 40,50,110,140
!   switchport mode trunk
!   mlag 401
!
interface Ethernet49/1,50/1
   channel-group 42 mode active
!
interface Ethernet51/1
   description ->sw-hec{{ hec.hec_nr }}-spine-11
interface Ethernet52/1
   description ->sw-hec{{ hec.hec_nr }}-spine-12
interface Ethernet53/1
   description ->sw-hec{{ hec.hec_nr }}-spine-13
interface Ethernet54/1
   description ->sw-hec{{ hec.hec_nr }}-spine-14
!
interface Ethernet51/1-54/1
   no switchport
   mtu 9100
!
interface Loopback2
   ip address 10.200.1.5/32
!
mlag configuration
   domain-id MLAG-STR-02
!
router bgp 641{{ hec.hec_nr }}.10005
   bgp asn notation asdot
   maximum-paths 8 ecmp 16
   neighbor EVPN-PG peer-group
   neighbor EVPN-PG remote-as 641{{ hec.hec_nr }}.10000
   neighbor EVPN-PG update-source Loopback1
   neighbor EVPN-PG send-community standard extended
   neighbor EVPN-PG ebgp-multihop 2
   neighbor EVPN-PG maximum-routes 12000
   neighbor EVPN-PG fall-over bfd
   !
   neighbor SPINE-PG peer-group
   neighbor SPINE-PG soft-reconfiguration inbound all
   neighbor SPINE-PG send-community
   neighbor SPINE-PG fall-over bfd
   neighbor SPINE-PG route-map MLPEER-RM out
   neighbor SPINE-PG maximum-routes 12000
   neighbor SPINE-PG remote-as 641{{ hec.hec_nr }}.10000
   !
   neighbor MLPEER-PG peer-group
   neighbor MLPEER-PG next-hop-self
   neighbor MLPEER-PG maximum-routes 12000
   neighbor MLPEER-PG remote-as 641{{ hec.hec_nr }}.10005
   network 10.200.1.5/32
   !
   neighbor 10.100.0.11 peer-group EVPN-PG
   neighbor 10.100.0.12 peer-group EVPN-PG
   neighbor 10.100.0.13 peer-group EVPN-PG
   neighbor 10.100.0.14 peer-group EVPN-PG
   !
   address-family evpn
      neighbor EVPN-PG activate
   !
   address-family ipv4
      no neighbor EVPN-PG activate
   !
   address-family ipv6
      no neighbor EVPN-PG activate
   !
   vlan-aware-bundle all-vlans
      rd 10.200.1.5:1
      route-target both 1:1
      redistribute learned
      vlan 5-2999
!
