banner login
****************************  W A R N I N G  *****************************
*     Access to this system is restricted to authorized users only.      *
*     All data residing on this system is the property of SAP.           *
*     All activities on this system may be monitored.                    *
*     Unauthorized usage is prohibited and may attract penalties.        *
**************************************************************************

**************************  I M P O R T A N T  ***************************
*     Do not make configuration changes to this device on the CLI.       *
*     This device is maintained by CVP! Changes will be overwritten.     *
**************************************************************************

      Device: $(hostname)
EOF
!
{% include "templates/config_templates/sw-hecxx-ntp.j2" %}
!
{% include "templates/config_templates/sw-hecxx-snmp.j2" %}
!
{{ hec.snmp_acl }}
!
!
logging host {{ hec.syslog1 }}
logging host {{ hec.syslog2 }}
{% if hec.syslog3 is defined %}
logging host {{ hec.syslog3 }}
{% endif %}
!
alias ic show interface counter | nz
alias ie show interface counter errors | nz
alias ipa show ip interface brief
alias ipr show ip route
alias ir show interface counter rates | nz
alias bs show ip bgp summary
alias es show bgp evpn summary
alias os show ip ospf neighbor
alias po show port-channel summary
alias ru show running section %1
!
event-handler CONFIG_VERSIONING
   trigger on-startup-config
   action bash FN=/mnt/flash/startup-config; LFN="`ls -1 $FN.*-* | tail -n 1`"; if [ -z "$LFN" -o -n "`diff -I 'last modified' $FN $LFN`" ]; then cp $FN $FN.`date +%Y%m%d-%H%M%S`; ls -1r $FN.*-* | tail -n +11 | xargs -I % rm %; fi
   delay 0
!
! === Interval for averaging the load in CLI commands, in seconds
load-interval default 5
