{% set cell_id = 4 %}
{% set Lo1     = '10.100.1.' + cell_id %}
{% set asn_spine = '641' + hec.hec_nr + '10000' %}

hostname sw-hec{{ hec.hec_nr }}-brdr-03a
!
interface Ethernet1/1
   description "->rt-hec{{ hec.hec_nr }}-core-01c, Fo0/0/0"
interface Ethernet2/1
   description "->rt-hec{{ hec.hec_nr }}-core-01d, Fo0/0/0"
!
interface Ethernet25/1
   ip address 10.11.0.13/31
interface Ethernet26/1
   ip address 10.12.0.13/31
interface Ethernet35/1
   ip address 10.13.0.13/31
interface Ethernet36/1
   ip address 10.14.0.13/31
!
interface Ethernet30/1
   description "->sw-hec{{ hec.hec_nr }}-brdr-03b, Et30"
interface Ethernet31/1
   description "->sw-hec{{ hec.hec_nr }}-brdr-03b, Et31"
!
interface Loopback1
   description Router-ID
   ip address {{ Lo1 }}/32
!
interface Loopback900
   description NW-MGMT
   ip address {{ hec.lo900_prefix }}.21/32
!
interface Management1
   vrf forwarding OOB
   ip address {{ hec.oob_prefix }}.51/{{ hec.oob_mask }}
!
router bgp {{ asn_local }}
   router-id {{ Lo1 }}
   neighbor 10.11.0.12 peer-group SPINE-PG
   neighbor 10.12.0.12 peer-group SPINE-PG
   neighbor 10.13.0.12 peer-group SPINE-PG
   neighbor 10.14.0.12 peer-group SPINE-PG
   neighbor 198.19.224.2 peer-group MLPEER-PG
   network {{ Lo1 }}/32
   network {{ hec.lo900_prefix }}.21/32
