hostname sw-hec{{ hec.hec_nr }}-str-02a
!
interface Ethernet51/1
   ip address 10.11.0.17/31
interface Ethernet52/1
   ip address 10.12.0.17/31
interface Ethernet53/1
   ip address 10.13.0.17/31
interface Ethernet54/1
   ip address 10.14.0.17/31
!
interface Loopback1
   description Router-ID
   ip address 10.100.1.5/32
interface Loopback900
   description NW-MGMT
   ip address {{ hec.lo900_prefix }}.53/32
interface Management1
   {{eos.c_vrf_forwarding}} OOB
   ip address {{ hec.oob_prefix }}.53/{{ hec.oob_mask }}
!
router bgp 641{{ hec.hec_nr }}.10005
   router-id 10.100.1.5
   neighbor 10.11.0.16 {{eos.c_neighbor_peer_group}} SPINE-PG
   neighbor 10.12.0.16 {{eos.c_neighbor_peer_group}} SPINE-PG
   neighbor 10.13.0.16 {{eos.c_neighbor_peer_group}} SPINE-PG
   neighbor 10.14.0.16 {{eos.c_neighbor_peer_group}} SPINE-PG
   neighbor 198.19.224.2 {{eos.c_neighbor_peer_group}} MLPEER-PG
   network 10.100.1.5/32
   network {{ hec.lo900_prefix }}.53/32
!
