interface Vxlan1
  vxlan source-interface Loopback2
{% if hec.fabric.vtep_distribution_mode is defined %}
{% if (hec.fabric.vtep_distribution_mode == 'manual') and (hec.fabric.vtep_ips is defined) %}
  vxlan flood vtep add {{hec.fabric.vtep_ips|join(' ')}}
{% for i in (5,6,7,10,20,30,40,50,55,60,70,75,85,90,95,100,110,120,130,140,900,920,931,940) %}
  vxlan vlan {{ i }} vni {{ i + 10000 }}
{% endfor %}
{% for i in range(1,499) %}
  vxlan vlan {{ i + 2000 }} vni {{ i + 2000 }}000
{% endfor %}
{% else %}
! # either you did forget to set vtep_distribution_mode or vtep_ips correctly
{% endif %}
{% if hec.fabric.vtep_distribution_mode == "cvx" %}
  vxlan controller-client
{% endif %}
{% if hec.fabric.vtep_distribution_mode == "evpn" %}
{#
  well, nothing to do here
#}
{% else %}
! # it looks like you did not define vtep_distribution_mode correctly
{% endif %}
{% endif %}
