ip prefix-list ANY-PL seq 10 permit 0.0.0.0/0 le 32
!
route-map MLPEER-RM permit 10
   match interface Vlan4094
   set as-path prepend auto
!
route-map MLPEER-RM permit 20
   match ip address prefix-list ANY-PL
!
interface Loopback2
   description VTEP
!
interface Vxlan1
{% include "templates/config_templates/sw-hec-vtep.j2" %}
