ip routing
!
! === Enable ArBGP (for EVPN) ===
service routing protocols model multi-agent
!
ip ftp client source-interface Loopback900
{{eos_cmd.c_ip_http_client_source_interface}} Loopback900
ip ssh client source-interface Loopback900
!
ip radius source-interface Loopback900
!
{{eos_cmd.c_ntp_source}} Loopback900
logging source-interface Loopback900
