radius-server timeout 2
radius-server retransmit 1
radius-server deadtime 2
radius-server key 7 11061A161E115E5951
!
radius-server host {{ hec.radius1 }} auth-port 1645 acct-port 1646
radius-server host {{ hec.radius2 }} auth-port 1645 acct-port 1646
!
{% set order = 'group radius local' %}
{% if (aaa_purpose is defined) and (aaa_purpose != '*hana*') %}
{% set order = 'local group radius' %}
{% endif %}
aaa authentication login default {{order}}
aaa authorization console
aaa authorization exec default {{order}}
!
username admin privilege 15 role network-admin secret 5 $1$A5UyPWAO$oC2lAIG2WV3WIU3Z.8nSR1
!
management telnet
   shutdown
!
management ssh
   idle-timeout 30
