! == Upstream conf
snmp-server community r0c4s ro ACL_SNMP_VTY
snmp-server community o4CSPCu1sap ro ACL_SNMP_VTY
!
vlan 21,100
   name OOB
!
enable secret 5 $1$P/hi307D$hTnbrBpberMN8.D02plrF1
username scp privilege 15 secret 5 $1$N8nIuE88$TCC9cVWog9.riMuiVcJOh.
!
{{ hec.snmp_acl }}
