hostname sw-hec{{ hec.hec_nr }}-spine-{{ item }}
!
{% for a in hec.spine.number %}
{% if a.id == item %}
snmp-server contact {{id.snmp.contact}}
snmp-server location {{id.snmp.location}}
!
{% endif %}
{% endfor %}
{% if hec.spine.model|string == '7504' or hec.spine.model|string == '7508'  %}
{% set lc_start = 3 %}
{% set lc_end   = lc_start + hec.spine.linecards %}
{% endif %}
{% if hec.spine.model|string == '7280' %}
{% set lc_start = 3 %}
{% set lc_end   = 4 %}
{% endif %}
{% set create_ip_on_interface = "yes" %}
{% include "templates/config_templates/sw-hec-spine-ips.j2" %}
!
interface Loopback1
   description Router-ID
   ip address 10.100.0.{{ item }}/32
!
interface Loopback900
   description NW-MGMT
   ip address {{ hec.lo900_prefix }}.{{ item }}/32
!
interface Management0
   vrf forwarding OOB
   ip address {{ hec.oob_prefix }}.{{ item }}/{{ hec.oob_mask }}
!
router bgp 641{{ hec.hec_nr }}.10000
   router-id 10.100.0.{{ item }}
   bgp listen range 10.{{ item }}.0.0/16 peer-group LEAF-PG peer-filter LEAF-PF
   network 10.100.0.{{ item }}/32
   network {{ hec.lo900_prefix }}.{{ item }}/32
!
