! == Upstream conf
!
! OOB specific Global NTP Server (same NTP as used by CVP)
no ntp server {{ hec.ntp1 }} prefer
no ntp server {{ hec.ntp2 }}
ntp server {{ cvp.ntp1 }} prefer
ntp server {{ cvp.ntp2 }}
!
vlan 21,100
   name OOB
!
enable secret 5 $1$P/hi307D$hTnbrBpberMN8.D02plrF1
!
