hostname sw-hec{{ hec.hec_nr }}-oob-01b
!
snmp-server contact {{ hec.oob01b_snmp_contact }}
snmp-server location {{ hec.oob01b_snmp_location }}
!
!=== if descriptions start ============================
!
interface Ethernet1
  description ->naa-hec{{ hec.hec_nr }}-01 Mgm2
!
interface Ethernet2
   description ->rt-hec{{ hec.hec_nr }}-102
!
interface Ethernet3
   description ->rt-hec{{ hec.hec_nr }}-402
!
interface Ethernet4
   description ->rt-hec{{ hec.hec_nr }}-502
!
interface Ethernet5
   description ->rt-hec{{ hec.hec_nr }}-504
!
interface Ethernet6
   description ->rt-hec{{ hec.hec_nr }}-602
!
interface Ethernet7
   description ->rt-hec{{ hec.hec_nr }}-702
!
interface Ethernet8
   description ->fw-hec{{ hec.hec_nr }}-02
!
interface Ethernet9
   description ->lb-hec{{ hec.hec_nr }}-02
!
interface Ethernet10
   description ->sw-hec{{ hec.hec_nr }}-spine-13
!
interface Ethernet11
   description ->->sw-hec{{ hec.hec_nr }}-spine-14
!
interface Ethernet12
   description ->sw-hec{{ hec.hec_nr }}-brdr-01b
!
interface Ethernet13
   description ->sw-hec{{ hec.hec_nr }}-brdr-02b
!
interface Ethernet14
   description ->sw-hec{{ hec.hec_nr }}-str-01b
!
interface Ethernet15
   description ->ncons-hec{{ hec.hec_nr }}-01
!
interface Ethernet16
   description ->ncons-hec{{ hec.hec_nr }}-02
!
interface Ethernet17
   description ->sw-hec{{ hec.hec_nr }}-fwt-01b
!
interface Ethernet18
   description ->sw-hec{{ hec.hec_nr }}-cwan-01b
!
interface Ethernet19
   description ->sw-hec{{ hec.hec_nr }}-brdr-03b
!
interface Ethernet20
   description ->rt-hec{{ hec.hec_nr }}-104
!
interface Ethernet21
   description ->sw-hec{{ hec.hec_nr }}-oob-02 P48
!
interface Ethernet22
   description ->sw-hec{{ hec.hec_nr }}-oob-03 P48
!
interface Ethernet23
   description ->sw-hec{{ hec.hec_nr }}-oob-04 P48
!
interface Ethernet24
   description ->sw-hec{{ hec.hec_nr }}-oob-05 P48
!
interface Ethernet25
   description ->sw-hec{{ hec.hec_nr }}-oob-06 P48
!
interface Ethernet26
   description ->sw-hec{{ hec.hec_nr }}-oob-07 P48
!
interface Ethernet27
   description ->ncons-hec{{ hec.hec_nr }}-03 Uplink 2
!
interface Ethernet28
   description ->ncons-hec{{ hec.hec_nr }}-04 Uplink 2
!
interface Ethernet29
   description ->ncons-hec{{ hec.hec_nr }}-05 Uplink 2
!
interface Ethernet30
   description ->ncons-hec{{ hec.hec_nr }}-06 Uplink 2
!
interface Ethernet31
   description ->ncons-hec{{ hec.hec_nr }}-07 Uplink 2
!
interface Ethernet32
   description ->ncons-hec{{ hec.hec_nr }}-08 Uplink 2
!
interface Ethernet47
   description ->sw-hec{{ hec.hec_nr }}-oob-01a P47
!
interface Ethernet48
   description ->sw-hec{{ hec.hec_nr }}-oob-01a P48
!
interface {{ hec.admin_sw_interface }}
  description ->{{ hec.admin_sw_description_oob1b }}
!
!=== if descriptions end ============================
!
interface {{ hec.admin_sw_interface }}
  ip address {{ hec.admin_sw_ip_oob1b }}/{{ hec.admin_sw_mask }}
!
interface Loopback0
  ip address {{ hec.oob01_lo0_prefix }}.21/32
!
interface Management1
!
interface Vlan21
  ip address {{ hec.oob_prefix }}.3/{{ hec.oob_mask }}
!
router bgp {{ hec.oob01_as }}
   router-id {{ hec.oob01_lo0_prefix }}.21
   neighbor {{ hec.admin_sw_neig_ip_oob1b }} remote-as {{ hec.admin_sw_neig_as_oob1b }}
   neighbor {{ hec.admin_sw_neig_ip_oob1b }} route-map ADMIN_MPLS_IN in
   neighbor {{ hec.admin_sw_neig_ip_oob1b }} route-map ADMIN_MPLS_OUT out
   neighbor {{ hec.admin_sw_neig_ip_oob1b }} maximum-routes 12000
   neighbor 198.19.224.1 remote-as {{ hec.oob01_as }}
   neighbor 198.19.224.1 next-hop-self
   neighbor 198.19.224.1 maximum-routes 12000
   network {{ hec.oob_prefix }}.0/{{ hec.oob_mask }}
!
router ospf 1
 router-id {{ hec.oob01_lo0_prefix }}.21
!
