hostname sw-hec{{ hec.hec_nr }}-str-01a
!
interface Ethernet1/1
   description ->hec{{ hec.hec_nr }}f0001,e4a via MPO
!
interface Ethernet2/1
   description ->hec{{ hec.hec_nr }}f0002,e4a via MPO
!
interface Ethernet3/1
   description ->hec{{ hec.hec_nr }}f0003,e4a via MPO
!
interface Ethernet4/1
   description ->hec{{ hec.hec_nr }}f0004,e4a via MPO
!
interface Ethernet13/1
   description ->hec{{ hec.hec_nr }}f0005,e0e via splitter cable
!   
interface Ethernet13/2
   description ->hec{{ hec.hec_nr }}f0006,e0e via splitter cable
!
interface Ethernet14/1
   description ->hec{{ hec.hec_nr }}f0005,e0f via splitter cable
!
interface Ethernet14/2
   description ->hec{{ hec.hec_nr }}f0006,e0f via splitter cable
!
interface Ethernet15/1
   description "->hec{{ hec.hec_nr }}b0001, Et1a"
!
interface Ethernet15/2
   shut
!
interface Ethernet15/3
   shut
!
interface Ethernet15/4
  shut
!
interface Ethernet16/1
   description "->hec{{ hec.hec_nr }}b0001, Et5a"
!
interface Ethernet16/2
   shut
!
interface Ethernet16/3
   shut
!
interface Ethernet16/4
   shut
!
interface Ethernet27/1
   description "->rt-hec{{ hec.hec_nr }}-str-01a, Et53"
!
interface Ethernet32/1
   description "->rt-hec{{ hec.hec_nr }}-str-01b, Et53"
!
interface Ethernet30/1
   description "->sw-hec{{ hec.hec_nr }}-str-01b, Et30"
!
interface Ethernet31/1
   description "->sw-hec{{ hec.hec_nr }}-str-01b, Et31"
!
! ================ Fabric config ================
interface Ethernet25/1
   ip address 10.11.0.9/31
interface Ethernet26/1
   ip address 10.12.0.9/31
interface Ethernet35/1
   ip address 10.13.0.9/31
interface Ethernet36/1
   ip address 10.14.0.9/31
!
interface Loopback1
   description Router-ID
   ip address 10.100.1.3/32
interface Loopback900
   description NW-MGMT
   ip address {{ hec.lo900_prefix }}.19/32
interface Management1
   vrf forwarding OOB
   ip address {{ hec.oob_prefix }}.19/{{ hec.oob_mask }}
!
router bgp 641{{ hec.hec_nr }}.10003
   router-id 10.100.1.3
   neighbor 10.11.0.8 peer-group SPINE-PG
   neighbor 10.12.0.8 peer-group SPINE-PG
   neighbor 10.13.0.8 peer-group SPINE-PG
   neighbor 10.14.0.8 peer-group SPINE-PG
   neighbor 198.19.224.2 peer-group MLPEER-PG
   network 10.100.1.3/32
   network {{ hec.lo900_prefix }}.19/32
!

