hostname sw-hec{{ hec.hec_nr }}-str-01b
!
interface Ethernet1/1
   description ->hec{{ hec.hec_nr }}f0001,e0j via MPO
!
interface Ethernet2/1
   description ->hec{{ hec.hec_nr }}f0002,e0j via MPO
!
interface Ethernet3/1
   description ->hec{{ hec.hec_nr }}f0003,e0j via MPO
!
interface Ethernet4/1
   description ->hec{{ hec.hec_nr }}f0004,e0j via MPO
!
interface Ethernet13/1
   description ->hec{{ hec.hec_nr }}f0005,e0g via splitter cable
!
interface Ethernet13/2
   description ->hec{{ hec.hec_nr }}f0006,e0g via splitter cable
!
interface Ethernet14/1
   description ->hec{{ hec.hec_nr }}f0005,e0h via splitter cable
!
interface Ethernet14/2
   description ->hec{{ hec.hec_nr }}f0006,e0h via splitter cable
!
interface Ethernet15/1
   description "->hec{{ hec.hec_nr }}b0001, Et4a"
!
interface Ethernet15/2
   shut
!
interface Ethernet15/3
   shut
!
interface Ethernet15/4
  shut
!
interface Ethernet16/1
   description "->hec{{ hec.hec_nr }}b0001, Et7a"
!
interface Ethernet16/2
   shut
!
interface Ethernet16/3
   shut
!
interface Ethernet16/4
   shut
!
interface Ethernet27/1
   description "->rt-hec{{ hec.hec_nr }}-701, Et54"
!
interface Ethernet32/1
   description "->rt-hec{{ hec.hec_nr }}-702, Et54"
!
interface Ethernet30/1
   description "->sw-hec{{ hec.hec_nr }}-str-01a, Et30"
!
interface Ethernet31/1
   description "->sw-hec{{ hec.hec_nr }}-str-01a, Et31"
!
! ================ Fabric config =============
interface Ethernet25/1
   ip address 10.11.0.11/31
interface Ethernet26/1
   ip address 10.12.0.11/31
interface Ethernet35/1
   ip address 10.13.0.11/31
interface Ethernet36/1
   ip address 10.14.0.11/31
!
interface Loopback1
   description Router-ID
   ip address 10.100.1.103/32
interface Loopback900
   description NW-MGMT
   ip address {{ hec.lo900_prefix }}.20/32
interface Management1
   vrf forwarding OOB
   ip address {{ hec.oob_prefix }}.20/{{ hec.oob_mask }}
!
router bgp 641{{ hec.hec_nr }}.10003
   router-id 10.100.1.103
   neighbor 10.11.0.10 peer-group SPINE-PG
   neighbor 10.12.0.10 peer-group SPINE-PG
   neighbor 10.13.0.10 peer-group SPINE-PG
   neighbor 10.14.0.10 peer-group SPINE-PG
   neighbor 198.19.224.1 peer-group MLPEER-PG
   network 10.100.1.103/32
   network {{ hec.lo900_prefix }}.20/32
!

