hostname sw-hec{{ hec.hec_nr }}-brdr-03b
!
interface Ethernet1/1
   description "->rt-{{ hec.hec_nr }}-103, Fo1/0/0"
interface Ethernet2/1
   description "->rt-{{ hec.hec_nr }}-104, Fo1/0/0"
!
interface Ethernet25/1
   ip address 10.11.0.15/31
   mtu 9100
interface Ethernet26/1
   ip address 10.12.0.15/31
   mtu 9100
!
interface Ethernet30/1
   description "->sw-{{ hec.hec_nr }}-brdr-03a, Et30"
interface Ethernet31/1
   description "->sw-{{ hec.hec_nr }}-brdr-03a, Et31"
!
interface Ethernet35/1
   ip address 10.13.0.15/31
   mtu 9100
interface Ethernet36/1
   ip address 10.14.0.15/31
   mtu 9100
!
interface Loopback1
   description Router-ID
   ip address 10.100.1.104/32
!
interface Loopback900
   description NW-MGMT
   ip address {{ hec.lo900_prefix }}.22/32
!
interface Management1
   vrf forwarding OOB
   ip address {{ hec.oob_prefix }}.52/{{ hec.oob_mask }}
!
router bgp 641{{ hec.hec_nr }}.10004
   router-id 10.100.1.104
   neighbor 10.11.0.14 peer-group SPINE-PG
   neighbor 10.12.0.14 peer-group SPINE-PG
   neighbor 10.13.0.14 peer-group SPINE-PG
   neighbor 10.14.0.14 peer-group SPINE-PG
   neighbor 198.19.224.1 peer-group MLPEER-PG
   network 10.100.1.104/32
   network {{ hec.lo900_prefix }}.22/32


