{# This is used to create all predefined ports from superspines
   each PODs Spines.
#}
{% for pod in range(0,9) %}
!! POD {{ pod + 1 }}
{% for x in [0,2,4,6] %}
interface Ethernet{{ pod*4 + loop.index }}/1
   description Link to SPINE-{{ pod + 1 }}{{ loop.index }}
   no switchport
   ip address 10.255.{{ pod + 1 }}{{ item.id }}.{{ x }}/31
!
{% endfor %}
!
{% endfor %}
