vlan 30
   name HEC{{ hec.hec_nr }}-IBM-PWR-MGMT01
vlan 31
   name HEC{{ hec.hec_nr }}-IBM-PWR-LPM
vlan 32
   name HEC{{ hec.hec_nr }}-IBM-PWR-ISCSI
!
vlan 33
   name HEC{{ hec.hec_nr }}-IBM-PWR-RMC01
!
{% include "templates/config_templates/hec_sw_po900-uplink.j2" %}

!
{% for i in range(1, 9) %}
interface Port-Channel{{ 1100 + i }}
   switchport trunk native vlan 40
   switchport trunk allowed vlan 40
   switchport mode trunk
   ip access-group HEC{{ hec.hec_nr }}-L2-HANA in
   port-channel lacp fallback static
   spanning-tree portfast
   mlag {{ 1100 + i }}
{% endfor %}
{% for i in range(1, 9) %}
interface Port-Channel{{ 1200 + i }}
   switchport trunk native vlan 40
   switchport trunk allowed vlan 40
   switchport mode trunk
   ip access-group HEC{{ hec.hec_nr }}-L2-HANA in
   port-channel lacp fallback static
   spanning-tree portfast
   mlag {{ 1200 + i }}
{% endfor %}
