{% import "templates/config_templates/libs.j2" as funcs %}
{% include "templates/config_templates/hec-hana.j2" %}
{# Following for-loop is to remove the portchannels of normal HANA-cells #}
{% for i in range(1, 19) %}
no interface Port-Channel{{ 100 + i }}
{% endfor %}
!
vlan 30
   name HEC{{ hec.hec_nr }}-{{vlandb.30.name}}
vlan 31
   name HEC{{ hec.hec_nr }}-{{vlandb.31.name}}
vlan 32
   name HEC{{ hec.hec_nr }}-{{vlandb.32.name}}
vlan 33
   name HEC{{ hec.hec_nr }}-{{vlandb.33.name}}
vlan 900
   name HEC{{ hec.hec_nr }}-{{vlandb.900.name}}
vlan 930
   name HEC{{ hec.hec_nr }}-{{vlandb.930.name}}
vlan 931
   name HEC{{ hec.hec_nr }}-{{vlandb.931.name}}
vlan 932
   name HEC{{ hec.hec_nr }}-{{vlandb.932.name}}
!
interface Vxlan1
   vxlan vlan 7 vni 10007
{% for i in (30,31,32,33) %}
   vxlan vlan {{i}} vni 100{{i}}
{% endfor %}
!
interface Port-Channel900
   switchport trunk allowed vlan add 30,110
!
{% for i in (0,1) %}
interface Port-Channel40{{i}}
   switchport trunk allowed vlan 10,30,32,40,50,55,110,130,2001-2499
   switchport mode trunk
   mlag 40{{i}}
!
{% endfor %}
{% for i in range(1, 9) %}
interface Port-Channel{{ 1100 + i }}
{{ funcs.leaf_hana_ports_data(hec.hec_nr) }}
   mlag {{ 1100 + i }}
!
{% endfor %}
{% for i in range(1, 9) %}
interface Port-Channel{{ 1200 + i }}
{{ funcs.leaf_hana_ports_data(hec.hec_nr) }}
   mlag {{ 1200 + i }}
!
{% endfor %}
{% for i in range(1, 9) %}
interface Port-Channel{{ 1300 + i }}
{{ funcs.leaf_hana_ports_data(hec.hec_nr) }}
   mlag {{ 1300 + i }}
!
{% endfor %}
ip access-list HEC{{ hec.hec_nr }}-L2-HANA
{{ hec.hana_acl_rules }}
