hostname sw-hec{{ hec.hec_nr }}-spine-{{ item }}
!
{% set create_ip_on_interface = "yes" %}
{% include "templates/config_templates/sw-hecxx-spine-ips.j2" %}
!
interface Loopback1
   description Router-ID
   ip address 10.100.0.{{ item }}/32
!
interface Loopback900
   description NW-MGMT
   ip address {{ hec.lo900_prefix }}.{{ item }}/32
!
interface Management0
   vrf forwarding OOB
   ip address {{ hec.oob_prefix }}.{{ item }}/{{ hec.oob_mask }}
!
router bgp 641{{ hec.hec_nr }}.10000
   router-id 10.100.0.{{ item }}
   bgp listen range 10.{{ item }}.0.0/16 peer-group LEAF-PG peer-filter LEAF-PF
   network 10.100.0.{{ item }}/32
   network {{ hec.lo900_prefix }}.{{ item }}/32
!
interface Ethernet3/1/1
   ip address 10.{{ item }}.0.0/31
interface Ethernet3/2/1
   ip address 10.{{ item }}.0.2/31
interface Ethernet3/3/1
   ip address 10.{{ item }}.0.4/31
interface Ethernet3/4/1
   ip address 10.{{ item }}.0.6/31
interface Ethernet3/5/1
   ip address 10.{{ item }}.0.8/31
interface Ethernet3/6/1
   ip address 10.{{ item }}.0.10/31
interface Ethernet3/7/1
   ip address 10.{{ item }}.0.12/31
interface Ethernet3/8/1
   ip address 10.{{ item }}.0.14/31
interface Ethernet3/9/1
   ip address 10.{{ item }}.0.16/31
interface Ethernet3/10/1
   ip address 10.{{ item }}.0.18/31
interface Ethernet3/11/1
   ip address 10.{{ item }}.0.20/31
interface Ethernet3/12/1
   ip address 10.{{ item }}.0.22/31
interface Ethernet3/13/1
   ip address 10.{{ item }}.0.24/31
interface Ethernet3/14/1
   ip address 10.{{ item }}.0.26/31
interface Ethernet3/15/1
   ip address 10.{{ item }}.0.28/31
interface Ethernet3/16/1
   ip address 10.{{ item }}.0.30/31
interface Ethernet3/17/1
   ip address 10.{{ item }}.0.32/31
interface Ethernet3/18/1
   ip address 10.{{ item }}.0.34/31
interface Ethernet3/19/1
   ip address 10.{{ item }}.0.36/31
interface Ethernet3/20/1
   ip address 10.{{ item }}.0.38/31
interface Ethernet3/21/1
   ip address 10.{{ item }}.0.40/31
interface Ethernet3/22/1
   ip address 10.{{ item }}.0.42/31
interface Ethernet3/23/1
   ip address 10.{{ item }}.0.44/31
interface Ethernet3/24/1
   ip address 10.{{ item }}.0.46/31
interface Ethernet3/25/1
   ip address 10.{{ item }}.0.48/31
interface Ethernet3/26/1
   ip address 10.{{ item }}.0.50/31
interface Ethernet3/27/1
   ip address 10.{{ item }}.0.52/31
interface Ethernet3/28/1
   ip address 10.{{ item }}.0.54/31
interface Ethernet3/29/1
   ip address 10.{{ item }}.0.56/31
interface Ethernet3/30/1
   ip address 10.{{ item }}.0.58/31
interface Ethernet3/31/1
   ip address 10.{{ item }}.0.60/31
interface Ethernet3/32/1
   ip address 10.{{ item }}.0.62/31
interface Ethernet3/33/1
   ip address 10.{{ item }}.0.64/31
interface Ethernet3/34/1
   ip address 10.{{ item }}.0.66/31
interface Ethernet3/35/1
   ip address 10.{{ item }}.0.68/31
interface Ethernet3/36/1
   ip address 10.{{ item }}.0.70/31
interface Ethernet4/1/1
   ip address 10.{{ item }}.0.72/31
interface Ethernet4/2/1
   ip address 10.{{ item }}.0.74/31
interface Ethernet4/3/1
   ip address 10.{{ item }}.0.76/31
interface Ethernet4/4/1
   ip address 10.{{ item }}.0.78/31
interface Ethernet4/5/1
   ip address 10.{{ item }}.0.80/31
interface Ethernet4/6/1
   ip address 10.{{ item }}.0.82/31
interface Ethernet4/7/1
   ip address 10.{{ item }}.0.84/31
interface Ethernet4/8/1
   ip address 10.{{ item }}.0.86/31
interface Ethernet4/9/1
   ip address 10.{{ item }}.0.88/31
interface Ethernet4/10/1
   ip address 10.{{ item }}.0.90/31
interface Ethernet4/11/1
   ip address 10.{{ item }}.0.92/31
interface Ethernet4/12/1
   ip address 10.{{ item }}.0.94/31
interface Ethernet4/13/1
   ip address 10.{{ item }}.0.96/31
interface Ethernet4/14/1
   ip address 10.{{ item }}.0.98/31
interface Ethernet4/15/1
   ip address 10.{{ item }}.0.100/31
interface Ethernet4/16/1
   ip address 10.{{ item }}.0.102/31
interface Ethernet4/17/1
   ip address 10.{{ item }}.0.104/31
interface Ethernet4/18/1
   ip address 10.{{ item }}.0.106/31
interface Ethernet4/19/1
   ip address 10.{{ item }}.0.108/31
interface Ethernet4/20/1
   ip address 10.{{ item }}.0.110/31
interface Ethernet4/21/1
   ip address 10.{{ item }}.0.112/31
interface Ethernet4/22/1
   ip address 10.{{ item }}.0.114/31
interface Ethernet4/23/1
   ip address 10.{{ item }}.0.116/31
interface Ethernet4/24/1
   ip address 10.{{ item }}.0.118/31
interface Ethernet4/25/1
   ip address 10.{{ item }}.0.120/31
interface Ethernet4/26/1
   ip address 10.{{ item }}.0.122/31
interface Ethernet4/27/1
   ip address 10.{{ item }}.0.124/31
interface Ethernet4/28/1
   ip address 10.{{ item }}.0.126/31
interface Ethernet4/29/1
   ip address 10.{{ item }}.0.128/31
interface Ethernet4/30/1
   ip address 10.{{ item }}.0.130/31
interface Ethernet4/31/1
   ip address 10.{{ item }}.0.132/31
interface Ethernet4/32/1
   ip address 10.{{ item }}.0.134/31
interface Ethernet4/33/1
   ip address 10.{{ item }}.0.136/31
interface Ethernet4/34/1
   ip address 10.{{ item }}.0.138/31
interface Ethernet4/35/1
   ip address 10.{{ item }}.0.140/31
interface Ethernet4/36/1
   ip address 10.{{ item }}.0.142/31
interface Ethernet5/1/1
   ip address 10.{{ item }}.0.144/31
interface Ethernet5/2/1
   ip address 10.{{ item }}.0.146/31
interface Ethernet5/3/1
   ip address 10.{{ item }}.0.148/31
interface Ethernet5/4/1
   ip address 10.{{ item }}.0.150/31
interface Ethernet5/5/1
   ip address 10.{{ item }}.0.152/31
interface Ethernet5/6/1
   ip address 10.{{ item }}.0.154/31
interface Ethernet5/7/1
   ip address 10.{{ item }}.0.156/31
interface Ethernet5/8/1
   ip address 10.{{ item }}.0.158/31
interface Ethernet5/9/1
   ip address 10.{{ item }}.0.160/31
interface Ethernet5/10/1
   ip address 10.{{ item }}.0.162/31
interface Ethernet5/11/1
   ip address 10.{{ item }}.0.164/31
interface Ethernet5/12/1
   ip address 10.{{ item }}.0.166/31
interface Ethernet5/13/1
   ip address 10.{{ item }}.0.168/31
interface Ethernet5/14/1
   ip address 10.{{ item }}.0.170/31
interface Ethernet5/15/1
   ip address 10.{{ item }}.0.172/31
interface Ethernet5/16/1
   ip address 10.{{ item }}.0.174/31
interface Ethernet5/17/1
   ip address 10.{{ item }}.0.176/31
interface Ethernet5/18/1
   ip address 10.{{ item }}.0.178/31
interface Ethernet5/19/1
   ip address 10.{{ item }}.0.180/31
interface Ethernet5/20/1
   ip address 10.{{ item }}.0.182/31
interface Ethernet5/21/1
   ip address 10.{{ item }}.0.184/31
interface Ethernet5/22/1
   ip address 10.{{ item }}.0.186/31
interface Ethernet5/23/1
   ip address 10.{{ item }}.0.188/31
interface Ethernet5/24/1
   ip address 10.{{ item }}.0.190/31
interface Ethernet5/25/1
   ip address 10.{{ item }}.0.192/31
interface Ethernet5/26/1
   ip address 10.{{ item }}.0.194/31
interface Ethernet5/27/1
   ip address 10.{{ item }}.0.196/31
interface Ethernet5/28/1
   ip address 10.{{ item }}.0.198/31
interface Ethernet5/29/1
   ip address 10.{{ item }}.0.200/31
interface Ethernet5/30/1
   ip address 10.{{ item }}.0.202/31
interface Ethernet5/31/1
   ip address 10.{{ item }}.0.204/31
interface Ethernet5/32/1
   ip address 10.{{ item }}.0.206/31
interface Ethernet5/33/1
   ip address 10.{{ item }}.0.208/31
interface Ethernet5/34/1
   ip address 10.{{ item }}.0.210/31
interface Ethernet5/35/1
   ip address 10.{{ item }}.0.212/31
interface Ethernet5/36/1
   ip address 10.{{ item }}.0.214/31
interface Ethernet6/1/1
   ip address 10.{{ item }}.0.216/31
interface Ethernet6/2/1
   ip address 10.{{ item }}.0.218/31
interface Ethernet6/3/1
   ip address 10.{{ item }}.0.220/31
interface Ethernet6/4/1
   ip address 10.{{ item }}.0.222/31
interface Ethernet6/5/1
   ip address 10.{{ item }}.0.224/31
interface Ethernet6/6/1
   ip address 10.{{ item }}.0.226/31
interface Ethernet6/7/1
   ip address 10.{{ item }}.0.228/31
interface Ethernet6/8/1
   ip address 10.{{ item }}.0.230/31
interface Ethernet6/9/1
   ip address 10.{{ item }}.0.232/31
interface Ethernet6/10/1
   ip address 10.{{ item }}.0.234/31
interface Ethernet6/11/1
   ip address 10.{{ item }}.0.236/31
interface Ethernet6/12/1
   ip address 10.{{ item }}.0.238/31
interface Ethernet6/13/1
   ip address 10.{{ item }}.0.240/31
interface Ethernet6/14/1
   ip address 10.{{ item }}.0.242/31
interface Ethernet6/15/1
   ip address 10.{{ item }}.0.244/31
interface Ethernet6/16/1
   ip address 10.{{ item }}.0.246/31
interface Ethernet6/17/1
   ip address 10.{{ item }}.0.248/31
interface Ethernet6/18/1
   ip address 10.{{ item }}.0.250/31
interface Ethernet6/19/1
   ip address 10.{{ item }}.0.252/31
interface Ethernet6/20/1
   ip address 10.{{ item }}.0.254/31
interface Ethernet6/21/1
   ip address 10.{{ item }}.1.0/31
interface Ethernet6/22/1
   ip address 10.{{ item }}.1.2/31
interface Ethernet6/23/1
   ip address 10.{{ item }}.1.4/31
interface Ethernet6/24/1
   ip address 10.{{ item }}.1.6/31
interface Ethernet6/25/1
   ip address 10.{{ item }}.1.8/31
interface Ethernet6/26/1
   ip address 10.{{ item }}.1.10/31
interface Ethernet6/27/1
   ip address 10.{{ item }}.1.12/31
interface Ethernet6/28/1
   ip address 10.{{ item }}.1.14/31
interface Ethernet6/29/1
   ip address 10.{{ item }}.1.16/31
interface Ethernet6/30/1
   ip address 10.{{ item }}.1.18/31
interface Ethernet6/31/1
   ip address 10.{{ item }}.1.20/31
interface Ethernet6/32/1
   ip address 10.{{ item }}.1.22/31
interface Ethernet6/33/1
   ip address 10.{{ item }}.1.24/31
interface Ethernet6/34/1
   ip address 10.{{ item }}.1.26/31
interface Ethernet6/35/1
   ip address 10.{{ item }}.1.28/31
interface Ethernet6/36/1
   ip address 10.{{ item }}.1.30/31
