hostname sw-hec{{ hec.hec_nr }}-oob-0{{ item.number}}
!
snmp-server contact {{ item.snmp_contact}}
snmp-server location {{ item.snmp_location}}
!
interface Ethernet1-46
   switchport access vlan 21
!
! === Uplinks to the cental OOB Pair (oob01[ab])
interface Port-Channel1
   switchport trunk allowed vlan 21
   switchport mode trunk
   port-channel lacp fallback individual
!
interface Ethernet47
   switchport trunk allowed vlan 21
   switchport mode trunk
   channel-group 1 mode active
!
interface Ethernet48
   switchport trunk allowed vlan 21
   switchport mode trunk
   channel-group 1 mode active
!
interface Vlan21
   ip address {{ hec.oob_prefix }}.{{ item.ip_last_octett}}/{{ hec.oob_mask }}
!
ip route 0.0.0.0/0 {{ hec.oob_def_gw }}
!
