vlan 900
   name NW-MGMT
vlan 914
   name FW-CORE-TRANS
vlan 915
   name FWTTEMP-CORE-TRANS
vlan 916
   name FW-BRDR-TRANS
vlan 920
   name RT-TRANS
vlan 940
   name INTERNET-DMZ
vlan 2001
   name TEST-CUSTOMER
vlan 2002-2499
!
interface Vxlan1
   vxlan vlan 914 vni 10914
   vxlan vlan 916 vni 10916
   vxlan vlan 920 vni 10920
   vxlan vlan 940 vni 10940
!
interface Port-Channel5
   description hec{{ hec.hec_nr }}f0005
   switchport access vlan 110
   mlag 5
!
interface Port-Channel6
   description hec{{ hec.hec_nr }}f0006
   switchport access vlan 110 
   mlag 6
!
interface Port-Channel10
   description ->fw-{{ hec.hec_nr }}-01
   switchport mode trunk 
   mlag 10
!
interface Port-Channel20
   description ->fw-{{ hec.hec_nr }}-02
   switchport mode trunk 
   mlag 20
!
interface Port-Channel30
   description ->fwm-hec-emea-09
   switchport access vlan 90
   mlag 30
!
! =============== Port-Channel for CVA ===============
interface Port-Channel48
   description "->naa-{{ hec.hec_nr }}-01, in-band"
   switchport access vlan 916
   mlag 48
! =============== xxxxxxxxxxxxxxxxxxxx ===============
!
interface Port-Channel1503
   description rt-{{ hec.hec_nr }}-503
   switchport trunk allowed vlan 900,920,940
   switchport mode trunk
   mlag 1503
!
interface Port-Channel1504
   description rt-{{ hec.hec_nr }}-504
   switchport trunk allowed vlan 900,920,940
   switchport mode trunk
   mlag 1504
!
interface Ethernet1
   channel-group 1503 mode active
!
interface Ethernet2
   channel-group 1504 mode active
!
interface Ethernet3
   description "->lb-{{ hec.hec_nr }}-0[12], e1.1"
   switchport mode trunk
   switchport trunk allowed vlan 940
!
interface Ethernet4
   description "->lb-{{ hec.hec_nr }}-0[12], e1.2"
   switchport mode trunk
   switchport trunk allowed vlan 85,90,95,100,2000-2499
!
interface Ethernet5
   description "->lb-{{ hec.hec_nr }}-0[12], e1.3"
   switchport mode trunk
   switchport trunk allowed vlan 900
!
interface Ethernet6
   description "->fw-{{ hec.hec_nr }}-01, et1-0[12]"
   channel-group 10 mode active
!
interface Ethernet7
   description "->fw-{{ hec.hec_nr }}-02, et1-0[21]"
   channel-group 20 mode active
!
interface Ethernet27
   description -> hec{{ hec.hec_nr }}f000[12],e0M
   switchport access vlan 110
!
interface Ethernet28
   description -> hec{{ hec.hec_nr }}f000[1r2],BMC
   speed forced 100full
   switchport access vlan 10
!
interface Ethernet29
   description -> hec{{ hec.hec_nr }}f000[34],e0M
   switchport access vlan 110
!
interface Ethernet30
   description -> hec{{ hec.hec_nr }}f000[3r4],BMC
   speed forced 100full
   switchport access vlan 10
!
interface Ethernet31
   description -> hec{{ hec.hec_nr }}fc001cs[12]
   switchport access vlan 110
!
interface Ethernet32
   description -> hec{{ hec.hec_nr }}f000[56],e0M
   switchport access vlan 10
!
interface Ethernet33
   description -> hec{{ hec.hec_nr }}f000[56],e0[cd]
   channel-group 5 mode active
!
interface Ethernet34
   description -> hec{{ hec.hec_nr }}f000[56],e0[cd]
   channel-group 6 mode active
!
interface Ethernet35
   description ->hec{{ hec.hec_nr }}f0003,e0M
!
interface Ethernet36
   description ->hec{{ hec.hec_nr }}b001,mgmt
   switchport access vlan 110
!
! ===== FW Bypass =====
interface Ethernet46
   switchport access vlan 916
!
! ===== Copper Links =====
interface Ethernet47
   description ->fwm-hec-emea-09, eth1-0[12]
   channel-group 30 mode active

interface Ethernet48
   description ->naa-{{ hec.hec_nr }}-01
   switchport access vlan 916
   channel-group 48 mode active

! =============== MLAG Peer Link ===============
mlag configuration
   domain-id MLAG-BRDR-02
!
interface Ethernet49/1,50/1
   description "MLAG-BRDR-02"
   channel-group 42 mode active
!
! ================ Spine Uplinks ===============
interface Ethernet51/1,52/1,53/1,54/1
   no switchport
interface Ethernet51/1
   description ->sw-hec{{ hec.hec_nr }}-spine-11
interface Ethernet52/1
   description ->sw-hec{{ hec.hec_nr }}-spine-12
interface Ethernet53/1
   description ->sw-hec{{ hec.hec_nr }}-spine-13
interface Ethernet54/1
   description ->sw-hec{{ hec.hec_nr }}-spine-14
! ==============================================
!
interface Loopback2
   ip address 10.200.1.2/32
!
! ==============================================
!   Inband management - transfer to firewall
! ==============================================
interface Vlan916
   description ->Transfer network for inband management
   ip virtual-router address {{ hec.inband_trans_brdr }}
!
ip virtual-router mac-address 00:1c:73:00:00:99
!
! ==============================================
!
router bgp 641{{ hec.hec_nr }}.10002
   bgp asn notation asdot
   maximum-paths 8 ecmp 16
   neighbor EVPN-PG peer-group
   neighbor EVPN-PG remote-as 641{{ hec.hec_nr }}.10000
   neighbor EVPN-PG update-source Loopback1
   neighbor EVPN-PG send-community standard extended
   neighbor EVPN-PG ebgp-multihop 2
   neighbor EVPN-PG maximum-routes 12000
   neighbor EVPN-PG fall-over bfd
   !
   neighbor SPINE-PG peer-group
   neighbor SPINE-PG soft-reconfiguration inbound all
   neighbor SPINE-PG send-community
   neighbor SPINE-PG fall-over bfd
   neighbor SPINE-PG route-map MLPEER-RM out
   neighbor SPINE-PG maximum-routes 12000 
   neighbor SPINE-PG remote-as 641{{ hec.hec_nr }}.10000
   neighbor SPINE-PG default-originate
   !
   neighbor MLPEER-PG peer-group
   neighbor MLPEER-PG next-hop-self
   neighbor MLPEER-PG maximum-routes 12000
   neighbor MLPEER-PG remote-as 641{{ hec.hec_nr }}.10002
   network 10.200.1.2/32
   network {{ hec.inband_trans_net }}
   !
   neighbor 10.100.0.11 peer-group EVPN-PG
   neighbor 10.100.0.12 peer-group EVPN-PG
   neighbor 10.100.0.13 peer-group EVPN-PG
   neighbor 10.100.0.14 peer-group EVPN-PG
   !
   address-family evpn
      neighbor EVPN-PG activate
   !
   address-family ipv4
      no neighbor EVPN-PG activate
   !
   address-family ipv6
      no neighbor EVPN-PG activate
   !
   vlan-aware-bundle all-vlans
      rd 10.200.1.2:1
      route-target both 1:1
      redistribute learned
      vlan 5-2999
!
{% if hec.inband_trans_gw_vlan is defined %}
ip route 0.0.0.0/0 {{ hec.inband_trans_gw_vlan }} {{ hec.inband_trans_gw }}
{% else %}
ip route 0.0.0.0/0 {{ hec.inband_trans_gw }}
{% endif %}

