{# below lines get included by sw-hec-spine-xx.j2 and sw-hec-spine.j2 #}

{% for lc in range(lc_start, lc_end ) %}
{% for subintf in range(1,port_range_end) %}
{% set ip = loop.index * 2 - 2 %}
{% set offset = lc - 3 %}
{% set ip = ip + 72 * offset %}
{% set nextsubnet = 0 %}
{% if ip > 255 %}
{% set ip = ip - 256 %}
{% set nextsubnet = 1 %}
{% endif %}
{% if ip > 255 %}
{% set ip = ip - 256 %}
{% set nextsubnet = 2 %}
{% endif %}
{#
  determine the correct interface name based on the spine model
#}
{% if hec.spine.model|string == '7280' %}
{% set intf_name = subintf|string+'/1' %}
{# interface Ethernet{{ subintf }}/1 #}
{% endif %}
{% if hec.spine.model|string == '7504' or hec.spine.model|string == '7508'  %}
{% set intf_name = lc|string+'/'+subintf|string+'/1' %}
{# interface Ethernet{{ lc }}/{{ subintf }}/1 #}
{% endif %}
interface Ethernet {{intf_name}}
 no switchport
{% if create_ip_on_interface == 'yes' %}
 ip address 10.{{ item.id }}.{{ nextsubnet }}.{{ ip }}/31
{% endif %}
{# shutdown #}
 mtu {{ hec.fabric.interlink_mtu }}
{#
   let's see if we are in need to configure some links with different speed settings
#}
{% if hec.spine.fortygig is defined and intf_name in hec.spine.fortygig %}
 speed forced 40gfull
{#
   otherwise we take the default speed.
#}
{% else %}
 speed forced {{ hec.fabric.interlink_speed }}
{% endif %}
!
{% endfor %}
{% endfor %}
