IBGP_PEER  = {"a": "{{ hec.fabric.mlag_b_ip }}", "b": "{{ hec.fabric.mlag_a_ip }}"}
IF_SETUP   = { {% for model in hec.fabric.leaf_models %}"{{model.model}}": [{"if": "{{model.uplink_ports}}"}]{%if not loop.last %},{% endif %}{% endfor %} }
AS_PREFIX  = "641"
IBGP_RTMAX = {{ hec.fabric.bgp_maximum_routes }}
EBGP_RTMAX = {{ hec.fabric.bgp_maximum_routes }}
EVPN_RTMAX = {{ hec.fabric.evpn_maximum_routes }}
MA_VRF     = "{{ hec.oob_vrf }}"
MA_DOMAIN  = "{{ hec.ma_domain }}"
MA_MASK    = {{ hec.oob_mask }}
LOCATION_DOMAIN_MAPPING = {"hec01":"rot","hec02":"ams","hec03":"stl","hec04":"sac","hec05":"tyo","hec06":"osa","hec07":"syd","hec08":"syd2","hec09":"rot2","hec10":"wdf","hec11":"mow","hec12":"mow2","hec13":"yyz","hec14":"yyz2","hec15":"fra","hec16":"ash","hec17":"cos1","hec18":"cos2","hec19":"fra2"}
MTU = {{ hec.fabric.interlink_mtu }}
LEAF_BASE_TEMPLATE = "hec_sw_leaf_individual"
LEAF_PAIR_TEMPLATE = "hec_sw_leaf_pair"
PROFILE_TCAM_ACL = "7160-profile-tcam-acl"
