{% for i in range(1, 25) %}
interface Port-Channel{{ 100 + i }}
   mlag {{ 100 + i }}
   switchport trunk native vlan 5
   switchport mode trunk
   ip access-group HEC{{ hec.hec_nr }}-L2-APP in
   port-channel lacp fallback individual
   spanning-tree portfast
!
{% endfor %}
{% include "templates/hec_sw_po900-uplink.j2" %}

!
ip access-list HEC{{ hec.hec_nr }}-L2-APP
{{ hec.hvv_hvx_acl_rules }}
