interface Et1-48
   shutdown
!
vrf definition MGMT
   description Inband management
   rd {{ hec.hec_nr|int }}:900
!
! set the global varp address.
{#
  This is hardcoded for storage router pair 1
  make this a variable to be either taken from hecXX.yml or all.yml
#}
ip virtual-router mac-address 00:1c:73:00:00:94
!
interface Vlan140
   ip access-group 140 in
!
{% for customer in customers %}{# START loop through each relevant customer #}
{% if customer.backup is defined  %}{# START of logic that for setup the customer on the storage router #}
{% set vlanid = customer.id + 2000 %}
vlan {{ vlanid }}
   name HEC{{ hec.hec_nr }}-Customer-{{ customer.name|upper}}-{{ vlanid }}
!
interface Vlan{{ vlanid }}
   ip access-group 2300 in
   ip proxy-arp
{% for net in customer.backup %}
{% set conf_str_ip = 'ip virtual-router address ' + net|ipaddr('1')|ipaddr('address') %}
   {{ conf_str_ip }}
{% endfor %}
{% endif %}{# END of logic that for setup the customer on the storage router #}
!
{% for route in customer.routes.static['strrt'] %}
{% if route.vrf is not defined %}
{% set vrf = '' %}
{% else %}
{% set vrf = route.vrf %}
{% endif %}
{% if route.interface is not defined %}
{% set interface = '' %}
{% else %}
{% set interface = route.interface %}
{% endif %}
{% if route.nexthop is not defined %}
{% set nexthop = '' %}
{% else %}
{% set nexthop = route.nexthop %}
{% endif %}
{% if route.metric is not defined %}
{% set metric = '' %}
{% else %}
{% set metric = route.metric|string %}
{% endif %}
{% if route.redist_bgp is not defined %}
{% set redist_bgp = False %}
{% else %}
{% set redist_bgp = route.redist_bgp %}
{% endif %}
{{ funcs.render_route_statement(route.destination, nexthop, vrf, interface, metric, redist_bgp) }}
{% endfor %}
!
{% endfor %}{# END loop through each relevant customer #}
!
ip access-list 140
{{ hec.acl_140_rules }}
!
ip access-list 2300
{{ hec.acl_2300_rules }}
!
