{% import "templates/libs.j2" as funcs with context %}
{% set leafid = funcs.leafid(item.number) %}
! host is "{{ leafid }}"
{% if item.ports is defined %}
{% for port in item.ports %}
{{ funcs.switchport(port) }}
{% endfor %}
{% endif %}{# end of port generation #}
{% if item.port_channels is defined %}
{% for po in item.port_channels %}
{{ funcs.switchportchannels(po) }}
{% endfor %}
{% endif %}{# end of port-channel generation #}
!
{% for customer in customers %}
{% if customer.backup is defined  %}{# START of logic that for setup the customer on the storage router #}
{% set vlanid = customer.id + 2000 %}
interface Vlan{{ vlanid }}
{% for net in customer.backup %}
{# determine IP offset based on hostname (a? b?) #}
{% if not loop.first %}{% set conf_str_ip = conf_str_ip + ' secondary' %}{% endif %}
   {{ conf_str_ip }}
{% endfor %}
{% endif %}{# END of logic that for setup the customer on the storage router #}
!
{% endfor %}
