! Use this configlet to put a HA-Router (NGDR) into maintenance mode
! DO NOT use it for other Fabric devices.
!
!
maintenance
   unit system
      quiesce
      !
   !
!
router bgp 641{{ hec.hec_nr }}.10999
   neighbor PG-EDGE-ROUTER route-map RM-MAINT out
