{% import "templates/libs.j2" as funcs with context %}
! Start: Remove config not needed for NGDR
!
no spanning-tree mst 0-1 priority 28672
no route-map MLPEER-RM permit 10
no route-map MLPEER-RM permit 20
no ip prefix-list ANY-PL seq 10 permit 0.0.0.0/0 le 32
no interface Loopback2
no {{eos_cmd.c_vlan_internal_allocation_policy}} descending range 3100 3999
!
! End: Remove config not needed for NGDR
!
!
route-map RM-MAINT permit 10
   set as-path prepend auto auto auto auto
!
alias drain
   10 configure
   20 maintenance
   30 unit System
   40 quiesce
   50 router bgp 641{{ hec.hec_nr }}.10999
   60 neighbor PG-EDGE-ROUTER route-map RM-MAINT out
   70 end
!
alias undrain
   10 configure
   20 router bgp 641{{ hec.hec_nr }}.10999
   30 no neighbor PG-EDGE-ROUTER route-map RM-MAINT out
   40 no maintenance
   50 end
!
event-monitor
!
vlan 900
   name {{vlandb.900.name}}
!
vlan 922
   name {{vlandb.922.name}}
!
{{eos_cmd.c_vrf_defintion}} INFRA
   description InfraVRF
!
bfd multihop interval {{ net.device.bfd.interval }} min_rx {{ net.device.bfd.min_rx }} multiplier {{ net.device.bfd.multiplier }}
!
{% for num in range(1,26) %}
interface Ethernet {{ num }}/1
   shutdown
   no switchport
!
{% endfor %}
!
! ===== Spine Uplinks =====
{% for uplink in item.uplinks %}
interface Ethernet{{ uplink }}
   no switchport
   description SPINE UPLINK
   mtu {{ hec.fabric.interlink_mtu }}
{% if item.uplinks_speed is defined %}
{% set speed = item.uplinks_speed %}
{% else %}
{% set speed = hec.fabric.interlink_speed %}
{% endif %}
speed forced {{ speed }}
!
{% endfor %}
!
interface Loopback1
   description Router-ID and VTEP
!
interface Loopback900
   description NW-MGMT
!
interface Management1
   {{eos_cmd.c_vrf_forwarding}} OOB
!
interface Vxlan1
   vxlan source-interface Loopback1
   vxlan vlan 922 vni 10922
   vxlan vrf INFRA vni 9{{ hec.hec_nr }}0000
!
hardware tcam
   system profile vxlan-routing
!
ip virtual-router mac-address 00:1c:73:00:00:98
!
ip routing vrf INFRA
!
{% if hec.ngdr_overlay.routes is defined %}
{% for route in hec.ngdr_overlay.routes %}
ip route vrf {{ route.vrf }} {{ route.network }} {{ route.interface }} {{ route.nexthop }}
{% endfor %}
{% endif %}
!
{% for entry in ['198.19.249.0/24', '198.19.251.0/24'] %}
ip prefix-list PL-EDGE seq {{ loop.index * 10 }} permit {{ entry }} eq 32
{% endfor %}
ip prefix-list PL-FORBIDDEN-PREF seq 10 permit 10.0.0.0/8 le 32
ip extcommunity-list FILTER_LOCAL_MAC permit rt 1:1
!
route-map RM-EDGE permit 10
   match ip address prefix-list PL-EDGE
!
route-map RM-HAPEER deny 10
   match ip address prefix-list PL-FORBIDDEN-PREF
!
route-map RM-HAPEER deny 15
   match extcommunity FILTER_LOCAL_MAC
!
route-map RM-HAPEER permit 20
!
router bgp 641{{ hec.hec_nr }}.10999
   bgp asn notation asdot
   no bgp default ipv4-unicast
   distance bgp 20 95 200
   maximum-paths 8 ecmp 16
{% for setting in [eos_cmd.c_neighbor_peer_group, 'remote-as ' + hec.ngdr_underlay.edge_as|string, 'next-hop-unchanged', 'update-source Loopback1',
                 eos_cmd.c_neighbor_fall_over_bfd, 'ebgp-multihop', 'send-community standard extended', 'maximum-routes 0', eos_cmd.c_neighbor_soft_reconfiguration + ' all'] %}
  neighbor PG-EDGE-ROUTER {{ setting }}
{% endfor %}
{% for setting in [eos_cmd.c_neighbor_peer_group, 'remote-as 641' + hec.hec_nr + '.10999', 'update-source Loopback1',
                 eos_cmd.c_neighbor_fall_over_bfd, 'send-community standard extended', 'maximum-routes 0', eos_cmd.c_neighbor_soft_reconfiguration + ' all'] %}
  neighbor PG-HA-ROUTER {{ setting }}
{% endfor %}
{% for setting in [eos_cmd.c_neighbor_peer_group, 'remote-as 641' + hec.ngdr_overlay.remote_hec_nr + '.10999', 'next-hop-unchanged',
                 eos_cmd.c_neighbor_fall_over_bfd, 'send-community standard extended', 'maximum-routes 0', eos_cmd.c_neighbor_soft_reconfiguration + ' all', 'route-map RM-HAPEER out'] %}
  neighbor PG-RMT-HA-ROUTER {{ setting }}
{% endfor %}
{% for setting in [eos_cmd.c_neighbor_peer_group, 'remote-as 641' + hec.hec_nr + '.10000',
                 eos_cmd.c_neighbor_fall_over_bfd, 'send-community', 'maximum-routes 0', eos_cmd.c_neighbor_soft_reconfiguration + ' all', 'allowas-in 3'] %}
  neighbor PG-SPINE {{ setting }}
{% endfor %}
{% if hec.fabric.vtep_distribution_mode == "evpn" or hec.fabric.vtep_distribution_mode == "migrate" %}
{% for setting in [eos_cmd.c_neighbor_peer_group, 'remote-as 641' + hec.hec_nr + '.10000', 'next-hop-unchanged', 'update-source Loopback1',
                  eos_cmd.c_neighbor_fall_over_bfd, 'send-community standard extended', 'maximum-routes 0', eos_cmd.c_neighbor_soft_reconfiguration + ' all', 'ebgp-multihop 2'] %}
  neighbor PG-SPINE-EVPN {{ setting }}
{% endfor %}
{% for neighbor in ['10.100.0.11', '10.100.0.12', '10.100.0.13', '10.100.0.14'] %}
   neighbor {{ neighbor }} {{eos_cmd.c_neighbor_peer_group}} PG-SPINE-EVPN
{% endfor %}
{% endif %}
{% for neighbor in hec.ngdr_overlay.edge_neighbors %}
   neighbor {{ neighbor.ip }} {{eos_cmd.c_neighbor_peer_group}} PG-EDGE-ROUTER
   neighbor {{ neighbor.ip }} description *** BGP to {{ neighbor.hostname }} ***
{% endfor %}
   !
{% if hec.fabric.vtep_distribution_mode == "evpn" %}
   vlan-aware-bundle all-vlans
      route-target both 1:1
      redistribute learned
      vlan 5-2999
   !
{% endif %}
   address-family evpn
{% if hec.fabric.vtep_distribution_mode == "evpn" or hec.fabric.vtep_distribution_mode == "migrate" %}
      neighbor PG-SPINE-EVPN activate
{% endif %}
{% for neighbor in hec.ngdr_overlay.edge_neighbors %}
      neighbor {{ neighbor.ip }} activate
{% endfor %}
   !
   address-family ipv4
{% if hec.fabric.vtep_distribution_mode == "evpn" or hec.fabric.vtep_distribution_mode == "migrate" %}
      no neighbor PG-SPINE-EVPN activate
{% endif %}
   !
   vrf INFRA
      rd {{ hec.hec_nr|int }}:900
      route-target import evpn {{ hec.ngdr_overlay.remote_hec_nr }}:900
      route-target export evpn {{ hec.hec_nr|int }}:900
      redistribute static
!
