{% include "templates/7160-profile-tcam-acl.j2" %}
{% import "templates/libs.j2" as funcs %}
{% set p_data={'start': 1, 'end': 24} %}
{% set p_mlag={'start': 49, 'end': 50} %}
{% set intf_spines = {'name' : 'none'} %}
{% for m in hec.fabric.leaf_models %}
{% if m.model == "7160-48YC6" %}
{% if intf_spines.update({'name':m.uplink_ports})%}{% endif %}
{% endif %}
{% endfor %}

interface Ethernet {{p_data['start']}}-{{p_data['end']}}
   switchport trunk native vlan 5
   switchport mode trunk
   ip access-group HEC{{ hec.hec_nr }}-L2-APP in
   spanning-tree portfast
!
! === MLAG Peer Link: ===
interface Ethernet {{p_mlag['start']}}/1,{{p_mlag['end']}}/1
   mtu {{hec.fabric.interlink_mtu}}
   speed forced {{hec.fabric.interlink_speed}}
   channel-group 42 mode active
!
! === Spine Uplinks: ===
interface Ethernet {{ intf_spines['name'] }}
{#
  40gfull is not applicable for all cells in all locations
  as of now there is no way to determine the transceiver speed
  while rendering this jinja template, we need to leave this out.

   speed forced 40gfull
#}
   no switchport
!
{% for main_intf in range(p_data['start'], p_data['end']+1) %}
interface Ethernet {{ main_intf }}
   channel-group {{ main_intf + 100 }} mode active
{% endfor %}
!
interface Ethernet48
   description ->sw-hec{{ hec.hec_nr }}-ipmi-xx
   switchport mode trunk
   channel-group 900 mode active
!
