! == Upstream conf
!
! OOB specific Global NTP Server (same NTP as used by CVP)
no ntp server {{ hec.ntp1 }} prefer
no ntp server {{ hec.ntp2 }}
ntp server {{ cvp.ntp1 }} prefer
ntp server {{ cvp.ntp2 }}
!
no sflow source-interface loopback900
sflow source-interface Vlan21
!
vlan 21
   name {{ vlandb.21.name }}
!
{{eos_cmd.c_enable_secret}} 5 $1$P/hi307D$hTnbrBpberMN8.D02plrF1
!
