interface Vxlan1
  vxlan source-interface Loopback2
{% for i in (5,6,10,20,30,40,50,55,60,70,75,85,90,95,100,110,120,130,140,900,920,931,940) %}
  vxlan vlan {{ i }} vni {{ i + 10000 }}
{% endfor %}
{% for i in range(1,500) %}
  vxlan vlan {{ i + 2000 }} vni {{ i + 2000 }}000
{% endfor %}
{% if hec.fabric.vtep_distribution_mode is defined %}
{% if (hec.fabric.vtep_distribution_mode == 'manual') and (hec.fabric.vtep_ips is defined) %}
  vxlan flood vtep add {{hec.fabric.vtep_ips|join(' ')}}
{% endif %}
{% if hec.fabric.vtep_distribution_mode == "cvx" %}
  vxlan controller-client
{% endif %}
{% endif %}
