{# this is to have to macros available that are used for switch port generation #}
{% include "templates/libs.inc.j2" %}
mlag configuration
   domain-id MLAG-oob
!
vlan 4094
   name MLAG_Vlan
!
spanning-tree mst 0-1 priority 28672
!
alias dhcp-off
   10 bash sudo service dhcpd stop
   20 bash sudo service dhcpd status
!
alias dhcp-on
   10 bash sudo cp /mnt/flash/dhcpd.conf /etc/dhcp/
   20 bash sudo service dhcpd start
   30 bash sudo service dhcpd status
!
alias dhcp-status
   10 bash sudo service dhcpd status
   20 bash sudo cat /var/lib/dhcpd/dhcpd.leases
!
{% if hec.is_tacacs %}
ip tacacs source-interface Vlan21
{% else %}
ip radius source-interface Vlan21
{% endif %}
!
logging source-interface Vlan21
!
{{eos_cmd.c_ntp_source}} Vlan21
!
{% for switch in hec.oob %}
{% if switch.type == 'core' %}
interface Ethernet1-46
   switchport access vlan 21
!
{% for item in switch.ports %}
{{ funcs.switchport(item) }}
{% endfor %}
{% if switch.port_channels is defined %}
{% for item in switch.port_channels %}
{{ funcs.switchportchannels(item) }}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}

interface Ethernet1
   description ->naa-hec{{ hec.hec_nr }}-01 Mgm1
!
interface Ethernet47-48
   description ->sw-hec{{ hec.hec_nr }}-oob-01-mlag-peer
   channel-group 42 mode active
!
interface Loopback494
   description !!! DO NOT TOUCH - HSRP tracking interface !!!
!
track 494 interface Loopback494 line-protocol
!
interface Vlan21
   vrrp 21 track 494 decrement 10
!
ip route {{ hec.inband_trans_cvp }}/32 {{ hec.oob_cvp }}
!
ip routing
!
ip prefix-list MATCH_ANY seq 5 permit 0.0.0.0/0 le 32
{% for prefix in hec.admin_mpls %}
ip prefix-list PREF_ADMIN_MPLS seq {{ prefix.sequence }} permit {{ prefix.prefix_mask }}
{% endfor %}
!
route-map ADMIN_MPLS_IN deny 10
   match ip address prefix-list PREF_ADMIN_MPLS
!
route-map ADMIN_MPLS_IN permit 20
   match ip address prefix-list MATCH_ANY
!
route-map ADMIN_MPLS_OUT permit 10
   match ip address prefix-list PREF_ADMIN_MPLS
!
router ospf 1
   passive-interface default
   no passive-interface {{ hec.admin_sw_interface }}
   no passive-interface Vlan4094
   network {{ hec.inband_trans_prefix }}.0/24 area 0.0.0.0
   network 198.19.224.0/30 area 0.0.0.0
   network {{ hec.oob01_lo0_prefix }}.0/24 area 0.0.0.0
   max-lsa 12000
!
interface Vlan4094
   ip ospf network point-to-point
!
