
{#
  We want the leaf pair to be the defined stp root bridge for the
  ipmi switch.
  For the devices in sub container "HEC-Special leaf", we need another
  configlet that removes the priority again. These special leafs are
  the core switches that act as transit between L2 and L3 Fabric
  and are most likely have lower prio value.
#}
spanning-tree mst 0-1 priority 28672
!
ip prefix-list ANY-PL seq 10 permit 0.0.0.0/0 le 32
!
route-map MLPEER-RM permit 10
   match interface Vlan4094
   set as-path prepend auto
!
route-map MLPEER-RM permit 20
   match ip address prefix-list ANY-PL
!
interface Loopback2
   description VTEP
!
{% include "templates/config_templates/sw-hec-vtep.j2" %}
