class "ARISTA" {
	match if substring(option vendor-class-identifier, 0, 6) = "Arista";
	option bootfile-name "http://{{ cvp.ip_eth0 }}/ztp/bootstrap";
}
subnet {{ cvp.dhcp.prefix }} netmask {{ cvp.dhcp.mask }} {
	pool {
		range {{ cvp.dhcp.range_low }} {{ cvp.dhcp.range_high }};
                option routers {{ cvp.ip_eth0 }};         
		allow members of "ARISTA";
  		default-lease-time 3600;
		max-lease-time 7200;
	}
}

