version: 2
common: 
   aeris_ingest_key: {{ cvp.ingest_key }}
   default_route: {{ cvp.gw }}
   dns: [ {{ cvp.dns1 }}, {{ cvp.dns2 }} ]
   ntp: [ {{ cvp.ntp1 }}, {{ cvp.ntp2 }} ]
   device_interface: {{ cvp.device_int }}
   cluster_interface: {{ cvp.cluster_int }}
   mode: singlenode

node1:
   hostname: {{ cvp.name }}
   vmname: {{ cvp.vmname }}
   interfaces:
      eth0:
         ip_address: {{ cvp.ip_eth0 }}
         netmask: {{ cvp.mask_eth0 }}
      eth1:
         ip_address: {{ cvp.ip_eth1 }}
         netmask: {{ cvp.mask_eth1 }}
